{{!
    @template local_learnpath/notification

    Renders a success or error notification banner.

    Context variables:
    - type     string  'success' or 'error'
    - message  string  The notification message text

    @copyright 2025 Michael Adeniran
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{#type_success}}
<div class="lt-notification lt-notification--success" role="alert">
    <span class="lt-notification__icon" aria-hidden="true">&#x2705;</span>
    <div class="lt-notification__body">
        <strong>{{message}}</strong>
    </div>
</div>
{{/type_success}}
{{#type_error}}
<div class="lt-notification lt-notification--error" role="alert">
    <span class="lt-notification__icon" aria-hidden="true">&#x26A0;&#xFE0F;</span>
    <div class="lt-notification__body">{{message}}</div>
</div>
{{/type_error}}
